{
    "presets": [
       [
            "env",
            { 
                "modules": false,
                "targets": 
                {
                    "node": "current"
                } 
            }
       ],
       "stage-0"
    ],
    "plugins": [
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator":true
            }
        ],
        "transform-decorators-legacy",
        "transform-class-properties"
    ],
    "comments": false
}